<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}AFPA Pôle Mécanique{% endblock %}</title>
      {% load static %}
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="{% static 'garage/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" type="text/css" media="screen" href="{% static 'garage/css/base.css' %}" />
        <link href="{% static 'garage/css/style.css' %}" rel="stylesheet">
        
    </head>


    <body>

      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4" id="logo">
            <img src="{% static 'garage/img/logo_afpa2.png' %}" width="250" height="170" ></img>
          </div>
          <div class="col-md-4" id="titre">
              <h1>Pôle Mécanique</h1>
          </div>
          <div class="col-md-4" id="logout">
              <img src="{% static 'garage/img/logo_logout.jpg' %}" width="30" height="30"></img><a href="{% static 'garage:'">   déconnexion</a>
          </div>
        </div>
      </div>
      
      

      <nav class="navbar navbar-expand-lg" id="navbar">
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="container">
                    <ul class="navbar-nav mr-auto">
                      <li class="nav-item nav-link">
                        <div id="test">|</div>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'garage:accueil' %}">Accueil <span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item nav-link">
                          <div id="test">|</div>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'garage:client-create' %}">Nouveau</a>
                      </li>
                      <li class="nav-item nav-link">
                          <div id="test">|</div>
                      </li>
                      <li class="nav-item">
                              <a class="nav-link" href="">Clients</a>
                      </li>
                      <li class="nav-item nav-link">
                          <div id="test">|</div>
                      </li>
                      <li class="nav-item">
                              <a class="nav-link" href="#">Véhicules</a>
                      </li>
                      <li class="nav-item nav-link">
                          <div id="test">|</div>
                      </li>
                      <li class="nav-item">
                              <a class="nav-link" href="#">Ordres de réparations</a>
                      </li>
                      <li class="nav-item nav-link">
                          <div id="test">|</div>
                      </li>
                      <li class="nav-item">
                              <a class="nav-link" href="#">Utilisateurs</a>
                      </li>
                      <li class="nav-item nav-link">
                          <div id="test">|</div>
                      </li>
                    </ul>
                  </div> 
                  </div>
                </nav>


                {% block content %}{% endblock %}

                <footer class="my-5 pt-5 text-muted text-center text-small">
                  </footer>

                  <script src="{% static 'garage/js/jquery-slim.min.js' %}"></script>
                  <script>window.jQuery || document.write('<script src="{% static "garage/js/jquery-slim.min.js" %}"><\/script>')</script>
                  <script src="{% static 'garage/js/popper.min.js' %}"></script>
                  <script src="{% static 'garage/js/bootstrap.min.js' %}"></script>
                  <script src="{% static 'garage/js/holder.min.js' %}"></script>
                <script>
                 window.onscroll = function() {myFunction()};
                  
                  var navbar = document.getElementById("navbar");
                  var sticky = navbar.offsetTop;
                  
                  function myFunction() {
                    if (window.pageYOffset >= sticky) {
                      navbar.classList.add("sticky")
                    } else {
                      navbar.classList.remove("sticky");
                    }
                  }
                  
                  function setActive() {
                    aObj = document.getElementById('navbar-nav').getElementsByTagName('a');
                    for(i=0;i<aObj.length;i++) {
                      if(document.location.href.indexOf(aObj[i].href)>=0) {
                        aObj[i].className+='active';
                      }
                    }
                  }
                  window.onload = setActive;
                  </script>

              
    </body>

</html>