{% extends 'garage/liste_clients.html' %}
{% block boutons %}

</div>
<div class="row">
    <div class="container">
        <div class="row mt-5">
                        <a href="{% url 'garage:accueil' %}" class=" btn btn-sm btn-primary col-md-1" >Annuler</a>
                        <div class="col-md-3"></div>
                        <button class=" btn btn-primary btn-sm col-md-2" onClick="redirect()">Modifier
                        </button>
                        <div class="col-md-1"></div>
                        <button class="  btn btn-primary btn-sm col-md-5" onClick="redirect()">Valider et Attribuer un véhicule</button>
                    </div>
                </div>
                
            </div>

        </div>
{% endblock boutons %} 
        
        


    
