{% extends 'garage/base.html' %}
{% load static %}

{% block css %}"{% static 'garage/css/customer_form.css' %}"{% endblock css %}

{% block content %}
    <div class="container">
    
            <div class="col-md-12">
                <div class="col-md-12">
                    <h1 id="title" class="title">{% block title %}Création nouveau client{% endblock title %}</h1>
                </div>
            </div>
        
            <div class="col-md-12 mt-5">
                <form class="needs-validation" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group {% if customer_form.lastname.errors %}has-warning has-feedback{% endif %}">
                                <label for="{{ customer_form.lastname.id_for_label }}" class="control-label">Nom</label>
                                {{ customer_form.lastname }}
                            </div>
                            <div class="invalid-feedback">
                                Saisie du nom est obligatoire
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group {% if customer_form.firstname.errors %}has-warning has-feedback{% endif %}">
                                <label for="{{ customer_form.firstname.id_for_label }}" class="control-label">Prenom</label>
                                {{ customer_form.firstname }}
                            </div>
                            <div class="invalid-feedback">
                                Saisie du prenom est obligatoire
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label for="{{ customer_form.afpa_number.id_for_label }}" class="control-label">Numéro carte AFPA</label>
                            {{ customer_form.afpa_number }}
                        </div>
                        <div class="col-md-6">
                            <label for="{{ personal_data_form.phone_number.id_for_label }}" class="control-label">Téléphone</label>
                            {{ personal_data_form.phone_number }}
                        </div>
                        <div class="col-md-6">
                            <label for="{{ personal_data_form.mail.id_for_label }}" class="control-label">Email</label>
                            {{ personal_data_form.mail }}
                        </div>
                    </div> 
                    <div id="form_address">
                    {% block addressupdate %}
                    <div class="row">
                            <div class="col-md-8">
                                    <label for="{{ address_form.address.id_for_label }}" class="control-label">Adresse</label>
                                    {{ address_form.address }} 
                                        <div class="panel-footer" v-if="addressesList.length">
                                            <ul class="list-group">
                                            <li class="list-group-item" v-for="address in addressesList" @click="selectedAddress(address)">
                                                [[ address.properties.label ]] 
                                            </li>
                                            </ul>
                                        </div>
                                    </div>
                  
                        <!-- <div class="col-md-5">
                            <label for="{{ address_form.street_name.id_for_label }}" class="control-label">Adresse</label>
                            {{ address_form.street_name }}
                        </div> -->
                        
                        <div class="col-md-4">
                            <label for="{{ address_form.city_zip_code.id_for_label }}" class="control-label">Ville ou Code postal</label>
                            {{ address_form.city_zip_code }}
                        <div class="panel-footer" v-if="citiesZipCodesList.length">
                            <ul class="list-group">
                            <li class="list-group-item" v-for="cityZip in citiesZipCodesList" @click="selectedCityZip(cityZip)">
                                    [[ cityZip[0] ]] ([[ cityZip[1] ]])
                            </li>
                        </ul>
                    </div> 
                    <!-- <div class="col-md-4" >
                        <label for="{{  address_form.zip_code.id_for_label }}" class="control-label">Code Postal</label>
                        {{  address_form.zip_code }}
                    </div>
                
                    <div class="col-md-4">
                        <label for="{{ adress_form.city.id_for_label }}" class="control-label">Ville</label>
                        {{ address_form.city }}
                    </div> -->
                    
                    
                        </div>
                    </div>
                    {% endblock addressupdate %}

                
                        <div>{{ address_form.json_hidden }}</div>
                    
                    </div>
                        <div class="col-md-4">
                            <label for="{{ personal_data_form.afpa_card_img.id_for_label }}" class="control-label">Carte AFPA img</label>
                            {{ personal_data_form.afpa_card_img }}
                        </div>
                    </div>
                    <div> {{ address_form.non_field_errors }} </div>

                    <div class="msgError"> {{ internal_error }} </div>     

                    <div class="row mt-5">
                        <div class="col-md-2">
                            <a href="javascript:window.history.go(-1);" class="btn btn-primary btn-sm btn-block button" id="button">Annuler</a>
                        </div>
                        <div class="col-md-4"></div>      
                        <div class="col-md-2">
                            {% block back_home %}   
                             {% comment %}   <button class="btn btn-primary btn-sm btn-block button" type="submit" id="validerAccueil">Valider/Retour Accueil</button> {% endcomment %}
                            {% endblock back_home %}    
                        </div> 
                        <div class="col-md-2"></div>
                        <div class="col-md-2">
                            <button class="btn btn-primary btn-sm btn-block button" type="submit" id="valider">{% block next %}Etape suivante{% endblock next %}</button>
                        </div>
                    </div>   

                </form>

            </div>

    </div>
    
   
        <script type="text/javascript" src="{% static 'garage/js/vue.js' %}"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script>axios.defaults.xsrfCookieName = 'csrftoken';
            axios.defaults.xsrfHeaderName = 'X-CSRFToken';</script>
        <script src="https://unpkg.com/lodash@4.13.1/lodash.min.js"></script>
        <script type="text/javascript" src="{% static 'garage/static/garage/js/adress.js' %}"></script>

{% block script %}{% endblock script %}
{% endblock content %}

    
