{% extends 'garage/base.html' %}

{% load static %}
{% block head %}
<link href="{% static 'garage/css/style.css' %}" rel="stylesheet" type="text/css" />
{% endblock head %}
{% block content %}

<div class="container">
    <div class="row">
        <h1 class="mt-5">Liste des Clients</h1>
    </div>
    <div class="row">
            <div class="container">
                    <div class="col-md-2">
                    </div>
                    <div class="row mb-5 mt-3">
                
                        <div class="col-md-2 ">
                           <a href="{% url 'garage:customer-create' %}" class="btn btn-sm btn-primary btn-lg btn-block" >Nouveau</a>
                        </div>
                    </div>
                </div>
    </div>
    <div class="row">
        
        <h4 class="col-md-12" >
            <div class="row">
                <div class=" col-md-3">Nom</div>
                <div class=" col-md-3">Prénom</div>
                <div class="col-md-3">N° AFPA</div>
                <div class="col-md-3">E-mail</div>
            </div>
        </h4>
        
        
        
        {% for customer in customer_list %}
        <input type="radio" class="btn col-md-1 radio" id="{{customer.id}}" name="btnCustomer" onclick='javascript:document.customerChecked={{customer.id}};' >
    </input>
    
    <label for="{{customer.id}}" id="listing" class="col-md-12">
        <div class="row ">
            <div class=" col-md-3">{{ customer.lastname }}</div>
            <div class=" col-md-3">{{ customer.firstname }}</div>
            <div class="col-md-3">{{ customer.afpa_number }}</div>
            <div class="col-md-3">{{ customer.PersonalData.mail }}</div>
        </div>
        
    </label>
    
    {% empty %}
    <p>aucun client</p>
    {% endfor %}
    
    
</div>
<div class="row">
        <div class="container">
                <div class="row mt-5">
                    <a href="{% url 'garage:home' %}" class=" btn btn-sm btn-primary col-md-1" >Annuler</a>
                    <div class="col-md-3"></div>
                    <button class=" btn btn-primary btn-sm col-md-2" onClick="redirect()">Modifier
                    </button>
                    <div class="col-md-1"></div>
                    <button class="  btn btn-primary btn-sm col-md-5" onClick="redirect()">Valider et Attribuer un véhicule</button>
                </div>
            </div>
              
</div>

</div>




            <script type="text/javascript">
            
                function redirect() {
                    window.location = "{% url 'garage:car-select' 1 %}".replace(1, document.customerChecked)            
                }
            </script>
{% endblock %}