{% extends 'garage/base.html' %}
{% load static %}

{% block css %}"{% static 'garage/css/customer_form.css' %}"{% endblock css %}

{% block content %}
    <div class="container">
    
            <title class="col-md-12">
                <div class="col-md-12">
                    <h1 id="title" class="title">Consultation customer</h1>
                </div>
            </title>
        
            <div class="col-md-9 mt-3">
                <h4>Client</h4>
                <form class="needs-validation" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group {% if customer_form.lastname.errors %}has-warning has-feedback{% endif %}">
                                <label for="{{ customer_form.lastname.id_for_label }}" class="control-label">Nom</label>
                                {{ customerForm.lastname }}
                            </div>
                            <div class="invalid-feedback">
                                Saisie du nom est obligatoire
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group {% if customer_form.firstname.errors %}has-warning has-feedback{% endif %}">
                                <label for="{{ customer_form.firstname.id_for_label }}" class="control-label">Prenom</label>
                                {{ customerForm.firstname }}
                            </div>
                            <div class="invalid-feedback">
                                Saisie du prenom est obligatoire
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label for="{{ customer_form.afpa_number.id_for_label }}" class="control-label">Numéro carte AFPA</label>
                            {{ customerForm.afpa_number }}
                        </div>
                        <div class="col-md-6">
                            <label for="{{ personal_data_form.phone_number.id_for_label }}" class="control-label">Téléphone</label>
                            {{ presonnalDataForm.telephone_customer }}
                        </div>
                        <div class="col-md-6">
                            <label for="{{ personal_data_form.mail.id_for_label }}" class="control-label">Email</label>
                            {{ presonnalDataForm.mail }}
                            <div> {{ presonnalDataForm.mail.errors }} </div>
                        </div>
                    </div> 
                    
                    <div class="row">
                        <div class="col-md-2">
                            <label for="{{ address_form.street_number.id_for_label }}" class="control-label">Numéro de rue :</label>
                            {{ addressForm.street_number }}
                        </div>
                        <div class="col-md-6">
                            <label for="{{ address_form.street.id_for_label }}" class="control-label">Adresse</label>
                            {{ addressForm.street }}
                        </div>
                        <div class="col-md-4">
                            <label for="{{ address_form.street_complement.id_for_label }}" class="control-label">Complement d'adresse</label>
                            {{ addressForm.street_complement }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label for="{{ zipCode_form.zip_code.id_for_label }}" class="control-label">Code Postal</label>
                            {{ zipCodeForm.zip_code }}
                        </div>
                    
                        <div class="col-md-4">
                            <label for="{{ city_form.city_name.id_for_label }}" class="control-label">Ville</label>
                            {{ cityForm.city_name }}
                        </div>
                        <div class="col-md-4">
                            <label for="{{ personal_data_form.afpa_card_img.id_for_label }}" class="control-label">Carte AFPA img</label>
                            {{ presonnalDataForm.afpa_card_img }}
                        </div>
                    </div>
                    <div> {{ addressForm.non_field_errors }} </div>

                    <div class="msgError"> {{ internal_error }} </div>     

                    <div class="row">
                        <div class="col-md-3">
                            <a href="{% url 'garage:customer-select' %}" class="btn btn-primary btn-lg btn-block" id="button">Annuler</a>
                        </div>
                        <div class="col-md-2">
                        </div>         
                        <div class="col-md-4">
                                <button class="btn btn-primary btn-lg btn-block" type="submit" id="button">Valider et retour Accueil</button>
                            </div>     
                        <div class="col-md-3">
                            <button class="btn btn-primary btn-lg btn-block" type="submit" id="button">Etape suivante</button>
                        </div>
                    </div>   

                </form>



            </div>

    </div>
{% endblock content %}