{% extends 'garage/base.html' %}

{% load static %}
{% block head %}
<link href="{% static 'garage/css/style.css' %}" rel="stylesheet" type="text/css" />
{% endblock head %}

{% block content %}

<div class="container">
    <div class="row">
        <h1 class="mt-5">{% block title %}Liste des Clients{% endblock title %}</h1>
    </div>
    {% block search %}{% endblock search %}

    {% block list %}
        <div class="row">  
            <h4 class="col-md-12" >
                <div class="row">
                    <div class=" col-md-3">Nom</div>
                    <div class=" col-md-3">Prénom</div>
                    <div class="col-md-3">N° AFPA</div>
                    <div class="col-md-3">E-mail</div>
                </div>
            </h4>
        </div>  
            
        {% for customer in customers_list %}
            <input type="radio" class="btn col-md-1 radio" id="{{customer.id}}" name="btnCustomer" ondblclick="redirect()" onclick='javascript:document.customerChecked={{customer.id}};' />
        
            <label for="{{customer.id}}" id="listing" class="col-md-12">
                <div class="row " ondblclick="redirect()">
                    <div class=" col-md-3">{{ customer.lastname }}</div>
                    <div class=" col-md-3">{{ customer.firstname }}</div>
                    <div class="col-md-3">{{ customer.afpa_number }}</div>
                    <div class="col-md-3">{{ customer.personal_data.mail }}</div>
                </div>
            </label>
        
            {% empty %}
            <p>aucun client</p>

        {% endfor %}
    {% endblock list %}  

    {% block buttons %}{% endblock buttons %}
</div>

<script type="text/javascript">
            
    function redirect() {
        if (window.location.href.indexOf("clients") >= 0){
            window.location = "{% url 'garage:customer-update' 1 %}".replace(1, document.customerChecked)
        }
        else if (window.location.href.indexOf("selection") >= 0){
            window.location = "{% url 'garage:vehicle-select' 1 %}".replace(1, document.customerChecked)  
        }          
    }
    function modifier() {
        window.location = "{% url 'garage:customer-update' 1 %}".replace(1, document.customerChecked)            
    }
</script>
{% endblock content %}