<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}AFPA - Ordre de réparation{% endblock %}</title>

    {% load static %}

    <!-- Bootstrap core CSS -->
    <link href="{% static 'garage/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'garage/css/style.css' %}" rel="stylesheet">
</head>

<body class="container">

    <div>

        <br/>
        <div class="row">

            <h1>Liste des Clients</h1>
            &emsp;

            <div class="form-inline my-2 my-lg-0" style="margin-left: 40%;">
                <form action="{% url 'garage:search' %}" method="get" accept-charset="utf-8">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0">Search</button>
                </form>
            </div>

            <!-- <div class="col-lg-12 detail-separator">
                <form class="col-md-6 col-md-offset-3 text-center" action="{% url 'garage:search' %}" method="get" accept-charset="utf-8">
                  <div class="form-group">
                    <label for="searchForm">Chercher un client</label>
                    <input id="searchForm" class="form-control" name="query">
                  </div>
                  <span class="help-block" id="helpBlock">Trouvez le client.</span>
                </form>
            </div> -->

            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <button class="btn btn-primary btn-lg btn-block" type="submit">Modifier</button>
                        </div>
                        <div class="col-md-6">
                                <button class="btn btn-primary btn-lg btn-block" type="submit">Nouveau</button>
                        </div>
                    </div>
                </div>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Nom</th>
                        <th scope="col">Prénom</th>
                        <th scope="col">Email</th>
                    </tr>
                </thead>
                <tbody>

                    <tr> {% for client in context_object_name %} </tr>
                    <th scope="row">{{ client.nom_client }}</th>
                    <td>{{ client.prenom_client }}</td>
                    <td>{{ client.email_client }}</td>
                    {% empty %}
                    <td>aucun client</td>
                    {% endfor %}

                </tbody>
            </table>
        </div>

        <br/>

        <header class="row">
            <titre class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        <a href="https://www.afpa.fr/" target="_blank">
                            <img src="{% static 'garage/img/afpa.jpg' %}" alt="afpa" />
                        </a>
                    </div>
                    <div class="col-md-9">
                        <br/>
                        <h1 id="titre">Création nouveau client</h1>
                    </div>
                </div>
            </titre>

            <afpa class="col-md-3">
                <div id="info_afpa">
                    <div class="row">
                        <div class="col-md-12">AFPA St Jean de VEDAS</div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">ZI de la Lauze</div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">34430 St Jean de Vedas</div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img class="d-block w-100" src="{% static 'garage/img/mercedes.jpg ' %}" alt="mercedes">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="{% static 'garage/img/bmw.jpg' %}" alt="bmw">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="{% static 'garage/img/audi.jpg' %}" alt="audi">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </afpa>

            <formulaire class="col-md-9">
                <h4>Client</h4>
                <form class="needs-validation" action="{% url 'garage:client' %}" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group {% if form.nom_client.errors %}has-warning has-feedback{% endif %}">
                                <label for="{{ form.nom_client.id_for_label }}" class="control-label">Nom</label>
                                {{ form.nom_client }}
                            </div>
                            <div class="invalid-feedback">
                                Saisie du nom est obligatoire
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group {% if form.prenom_client.errors %}has-warning has-feedback{% endif %}">
                                <label for="{{ form.prenom_client.id_for_label }}" class="control-label">Prenom</label>
                                {{ form.prenom_client }}
                            </div>
                            <div class="invalid-feedback">
                                Saisie du prenom est obligatoire
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label for="{{ form.telephone_client.id_for_label }}" class="control-label">Téléphone</label>
                            {{ form.telephone_client }}
                        </div>
                        <div class="col-md-6">
                            <label for="{{ form.email_client.id_for_label }}" class="control-label">Email</label>
                            {{ form.email_client }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label for="{{ form.adresse_client.id_for_label }}" class="control-label">Adresse</label>
                            {{ form.adresse_client }}
                        </div>

                        <div class="col-md-2">
                            <label for="{{ form.code_postal_client.id_for_label }}" class="control-label">Code Postal</label>
                            {{ form.code_postal_client }}
                        </div>

                        <div class="col-md-2">
                            <label for="{{ form.ville_client.id_for_label }}" class="control-label">Ville</label>
                            {{ form.ville_client }}
                        </div>

                        <div class="col-md-2">
                            <label for="{{ form.pays_client.id_for_label }}" class="control-label">Pays</label>
                            {{ form.pays_client }}
                            <div class="invalid-feedback">
                                Selectionner un pays valide
                            </div>
                        </div>
                    </div>

                    <br/>

                    <button class="btn btn-primary btn-lg btn-block" type="submit">Valider</button>
                </form>

            </formulaire>

        </header>

        <footer class="my-5 pt-5 text-muted text-center text-small">
        </footer>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- jQuery -->
    <script src="{% static 'garage/js/jquery-slim.min.js' %}"></script>
    <script>window.jQuery || document.write('<script src="{% static "garage/js/jquery-slim.min.js" %}"><\/script>')</script>
    <script src="{% static 'garage/js/popper.min.js' %}"></script>
    <script src="{% static 'garage/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'garage/js/holder.min.js' %}"></script>
</body>

</html>