{% extends "garage/base.html" %}

    <title>{% block title %}AFPA - Ordre de réparation{% endblock %}</title>    

    {% load static %}
    {% block content %}
    
<body class="container-fluid">

    <div>

        <header class="row">
            <titre class="col-md-12">
                <h1 id="titre">{% block monTitre %}Ordre de réparation{% endblock %}</h1> 
                <br/>                          
            </titre>

  
            
            <formulaire class="col-md-12">
                <h2>Client :</h2>
                <hr>
                <div class="row">
                    <div class="col-md-6">
                        <label for="nom" class="control-label">Nom : </label>
                        {{ client.nom_client }}
                    </div>
                    <div class="col-md-6">
                        <label for="email" class="control-label">Email : </label> 
                        {{ donnees.mail_client }}
                    </div> 
                </div>  
                
                <div class="row">
                    <div class="col-md-6">
                        <label for="prenom" class="control-label">Prénom : </label>
                        {{ client.prenom_client }}
                    </div>
                    <div class="col-md-6">
                        <label for="adresse" class="control-label">Adresse : </label>
                        {{ address.street }}
                    </div>
                </div>                 
                
                <div class="row">
                    <div class="col-md-6">
                        <label for="telephone" class="control-label">Téléphone : </label>
                        {{ donnees.telephone_client }}
                    </div>
                    
                    <div class="col-md-2">
                        <label for="ville" class="control-label">Ville : </label>
                        {{ city.city_name }}
                    </div>
                    <div class="col-md-2">
                        <label for="codepostal" class="control-label">Code Postal : </label>
                        {{ zipCode.zip_code }}
                    </div>
                    

                    <div class="col-md-2">
                        <label for="numero_afpa_client" class="control-label">Numéro AFPA : </label>
                        {{ client.numero_afpa_client }}
                    </div>
                </div>
                <br/>
                
            </formulaire>
            
        </header>
        
        <vehicule class="col-md-12">
            <h3>Véhicule :</h3>
            <hr>
            <div class="row">
                <div class="col-md-3">
                    <label for="address">Marque</label>
                    <input type="text" class="form-control" id="address" placeholder="" required>
                    <div class="invalid-feedback">
                        Saisir la marque
                    </div>
                </div>

                <div class="col-md-2">
                    <label for="zip">Modele</label>
                    <input type="text" class="form-control" id="zip" placeholder="" required>
                    <div class="invalid-feedback">
                        Saisir le modele
                    </div>
                </div>

                <div class="col-md-2">
                    <label for="zip">Immatriculation</label>
                    <input type="text" class="form-control" id="zip" placeholder="" required>
                    <div class="invalid-feedback">
                        Saisir l'immatriculation
                    </div>
                </div>

                <div class="col-md-2">
                    <label for="zip">Réceptionnaire</label>
                    <input type="text" class="form-control" id="zip" placeholder="" required>
                    <div class="invalid-feedback">
                        Saisir le réceptionnaire
                    </div>
                </div>

            </div>

        </vehicule>
        <hr>
        <div id="saisir">
            <div class="form-group">
                <label for="textarea">Description des symptômes du client (si diagonstic) </label>
                <textarea id="textarea" class="form-control" rows="4"></textarea>
                <small class="form-text text-muted">Vous pouvez agrandir la fenêtre</small>
            </div>

            <div class="form-group">
                <label for="textarea">Intervention à réaliser</label>
                <textarea id="textarea" class="form-control" rows="4"></textarea>
                <small class="form-text text-muted">Vous pouvez agrandir la fenêtre</small>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
            </div>
            <div class="col-md1-12">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Valider</button>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- jQuery -->
    <script src="{% static 'garage/js/jquery-slim.min.js' %}"></script>
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- Baa to do <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <!-- <script>window.jQuery || document.write('<script src="../../bootstrap-4.1.1/assets/js/vendor/jquery-slim.min.js"><\/script>')</script> -->
    <script>
        window.jQuery || document.write('<script src="{% static "garage/js/jquery-slim.min.js" %}"><\/script>')
    </script>
    <script src="{% static 'garage/js/popper.min.js' %}"></script>
    <script src="{% static 'garage/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'garage/js/holder.min.js' %}"></script>

    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict';

            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');

                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
</body>
{% endblock %}
</html>