{% extends 'garage/base.html' %}
{% load static %}

{% block css %}"{% static 'garage/css/style.css' %}"{% endblock css %}

    {% block content %}

    <div>

        <header class="row">
            <titre class="col-md-12">
                <h1 id="titre">{% block monTitre %}Ordre de réparation{% endblock %}</h1> 
                <br/>                          
            </titre>

  
            
            <formulaire class="col-md-12">
                <h2>Client :</h2>
                <hr>
                <div class="row">
                    <div class="col-md-6">
                        <label for="nom" class="control-label">Nom : </label>
                        {{ vehicule.client.nom_client }}
                    </div>
                    <div class="col-md-6">
                        <label for="email" class="control-label">Email : </label> 
                        {{ vehicule.client.donnees_personnelles_client.mail_client }}
                    </div> 
                </div>  
                
                <div class="row">
                    <div class="col-md-6">
                        <label for="prenom" class="control-label">Prénom : </label>
                        {{ vehicule.client.prenom_client }}
                    </div>
                    <div class="col-md-6">
                        <label for="adresse" class="control-label">Adresse : </label>
                        {{ vehicule.client.adresse.street }}
                    </div>
                </div>                 
                
                <div class="row">
                    <div class="col-md-6">
                        <label for="telephone" class="control-label">Téléphone : </label>
                        {{ vehicule.client.donnees_personnelles_client.telephone_client }}
                    </div>
                    
                    <div class="col-md-2">
                        <label for="ville" class="control-label">Ville : </label>
                        {{ vehicule.client.adresse.city.city_name }}
                    </div>
                    <div class="col-md-2">
                        <label for="codepostal" class="control-label">Code Postal : </label>
                        {{ vehicule.client.adresse.zipCode.zip_code }}
                    </div>
                    

                    <div class="col-md-2">
                        <label for="numero_afpa_client" class="control-label">Numéro AFPA : </label>
                        {{ vehicule.client.numero_afpa_client }}
                    </div>
                </div>
                <br/>



            </formulaire>
            
        </header>
        
        <vehicule class="col-md-12">
            <h3>Véhicule :</h3>
            <hr>
            <div class="row">
                <div class="col-md-3">
                    <label for="address">Marque :</label>
                    <div class="row">
                        <div class="col-md-12">{{ vehicule.libelle_marque }}</div>
                    </div>
                </div>

                <div class="col-md-3">
                    <label for="zip">Modele :</label>
                    <div class="row">
                        <div class="col-md-12">{{ vehicule.libelle_modele }}</div>
                    </div>
                </div>

                <div class="col-md-3">
                    <label for="zip">Immatriculation :</label>
                    <div class="row">
                        <div class="col-md-12">{{ vehicule.immatriculation }}</div>
                    </div>
                </div>

                <div class="col-md-3">
                    <label for="zip">Réceptionnaire :</label>
                    <div class="row">
                        <div class="col-md-12">{{ user.get_username }}</div>
                    </div>

                </div>

            </div>

        </vehicule>
        <hr>
        <form class="" action="" method="post">
            {% csrf_token %}
            <div id="saisir">
                <div class="form-group">
                    <label for="textarea">Description des symptômes du client (si diagnostic) </label>
                    <textarea id="textarea" class="form-control" rows="4"></textarea>
                    <small class="form-text text-muted">Vous pouvez agrandir la fenêtre</small>
                </div>

                <div class="form-group">
                    <label for="textarea">Intervention à réaliser</label>
                    <textarea id="textarea" class="form-control" rows="4"></textarea>
                    <small class="form-text text-muted">Vous pouvez agrandir la fenêtre</small>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                </div>
                <div class="col-md1-12">
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Valider</button>
                </div>
            </div>
        </form>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- jQuery -->
    <script src="{% static 'garage/js/jquery-slim.min.js' %}"></script>
    <script>
        window.jQuery || document.write('<script src="{% static "garage/js/jquery-slim.min.js" %}"><\/script>')
    </script>
    <script src="{% static 'garage/js/popper.min.js' %}"></script>
    <script src="{% static 'garage/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'garage/js/holder.min.js' %}"></script>

{% endblock content %}

