{% extends 'garage/base.html' %} 

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 id="title" class="title">{% block title %}Création nouveau devis {% endblock title %}</h1>
                {{ reparation_order.vehicle.customer.lastname }}
            </div>
        </div>
        <form class="needs-validation forms" method="post" enctype="multipart/form-data" id="my_form">
            {% csrf_token %}
            <h3 class="col-md-12 mt-4">Fournisseur</h3>
                <div class="row">
                <div class="col-md-12">
                    <div class="row supplier">
                        <div class="col-md-6">
                            <div class="row">
                                <label class="col-md-4 form-group control-label" for="" >Fournisseur :<span class="mandatory"> *</span></label>
                                <div class="col-md-8">
                                    {{quotation_form.supplier}}
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="row">
                                <label class="col-md-5 form-group control-label" for="" >N° Devis fournisseur :<span class="mandatory"> *</span></label>
                                <div class="col-md-7">
                                    {{ quotation_form.num_quotation_supplier }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{ component_forms.management_form }}

            <div class="row mt-4">
                <h3 class="col-md-12">Pièces</h3>
            </div>

            <div class="row">

                <div class="col-md-12">
                    <div class="row supplier">

                        <div class="col-md-12">
                            <div class="row" style="text-align: center;">
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <div class="col-md-1">
                                    <label class=" form-group control-label" for="{{ component_form.quantity.id_for_label }}" >Qté :<span class="mandatory"> *</span></label>
                                </div>                    
                                <div class="col-md-4">
                                    <label class=" form-group control-label" for="{{ component_form.reference.id_for_label }}" >Référence :<span class="mandatory"> *</span></label>
                                </div>
                                <div class="col-md-4">
                                    <label class=" form-group control-label" for="{{ component_form.name.id_for_label }}" >Libellé :<span class="mandatory"> *</span></label>
                                </div>
                                <div class="col-md-2">
                                    <label class=" form-group control-label" for="{{ component_form.price.id_for_label }}" >Prix :<span class="mandatory"> *</span></label>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12" id="formsetZone">
                            {% for component_form in component_forms %}
                                <div class="nsorte row mt-1">
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    {{ component_form.quantity }}&nbsp;
                                    {{ component_form.reference }} &nbsp;
                                    {{ component_form.name }}&nbsp;
                                    {{ component_form.price }}
                                    {{ component_form.id }}&nbsp;&nbsp;&nbsp;
                                    <div class="btn btn-warning bt_rm_sorte">-</div>
                                </div>
                            {% endfor %}
                        </div>

                    </div>
                </div>

                <div class="col-md-12">
                    <div class="row">
                        <button class="btn btn-success mt-3" id="bt_add_sorte" type="button">+</button>
                    </div>
                </div>

                {% block payoff %}
                    {% comment %}
                    <div class="row mt-5">
                        <div class="col-md-5">
                            <label class=" form-group control-label" for="{{ quotation_form.payoff_type.id_for_label }}" >Type de règlement :<span class="mandatory"> *</span></label>
                                {{ quotation_form.payoff_type }}
                        </div>
                        
                        <div class="col-md-5">
                            <label class=" form-group control-label" for="{{ quotation_form.payoff_date.id_for_label }}" >Date de règlement :<span class="mandatory"> *</span></label>
                            {{ quotation_form.payoff_date }}
                        </div>
                    </div>
                    {% endcomment %}
                {% endblock payoff %}  

            </div>
        
            <div class="row mt-5">
                <div class="col-md-2">
                    <a href="javascript:window.history.go(-1);" class="btn btn-primary btn-sm btn-block button" id="button">Annuler</a>
                </div>
                <div class="col-md-3"></div>      
                <div class="col-md-2"></div> 
                <div class="col-md-2"></div>
                <div class="col-md-2"><button class="btn btn-primary btn-block button" type="submit" id="valider">{% block next %}Valider{% endblock next %}</button></div>
            </div>                    
        </form>
        
        <div style="display:none;">
            <div id="eform" class="nsorte row mt-1">
                &nbsp;&nbsp;{% for component in component_forms.empty_form %}
                &nbsp;{{ component }}
                {% endfor %}&nbsp;&nbsp;&nbsp;
                <div class="btn btn-warning bt_rm_sorte">-</div>
            </div>
        </div>
    </div>


{% block head %}<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>{%endblock head %}
<script type="text/javascript">

        // from https://lindev.fr/index.php?post/2014/01/17/Django%2C-g%C3%A9rer-les-FormSet-dynamiquement
        $(document).ready(function(){
            /**************************************************************************
            *                                      Gesion ADD REMOVE Formset          *
            ***************************************************************************/
        
            index_form = function( fset, index ){
        
                $(fset).find(':input').each(function() {
                    var name = $(this).attr('name').replace( new RegExp('(\_\_prefix\_\_|\\d)') , index );
                    var id = 'id_' + name;
                    $(this).attr({'name': name, 'id': id});
                });
        
                $(fset).find('label').each(function() {
                    var newFor = $(this).attr('for').replace( new RegExp('') , index );
                    var id = 'label_' + newFor;
                    $(this).attr({'id':id, 'for':newFor, 'style':'display:none;'});
                });
            }
        
            reindex_formset = function( formset_zone ){
        
                var formset = $(formset_zone).find( '.nsorte' );
                for( var cpt=0;cpt<formset.length;cpt++ ){
                    index_form( formset[cpt], cpt );
                };
        
                $("#id_form-TOTAL_FORMS").val( parseInt( cpt ) );
        
            };        
        
            /**************************************************************************
            *                               Gesion Des evenements formulaire          *
            ***************************************************************************/
        
            set_event = function(){
                    //Bind le(s) bt delete sorte
                    $(".bt_rm_sorte").on('click',function(){
                        $(this).parents(".nsorte").remove();
                        reindex_formset( "#formsetZone" );
                    });
            };
        
            $("#bt_add_sorte").on('click',function(){
                console.log("ok");
                //Copy eform
                $( "#eform" ).clone(true).appendTo( $("#formsetZone") );
        
                reindex_formset( "#formsetZone" );
        
            });
        
            set_event();
        
        });
    </script>

{% endblock content %}
