{% extends 'garage/base.html' %} 

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 id="title" class="title">{% block title %}Création nouveau devis {% endblock title %}</h1>
                {{ reparation_order.vehicle.customer.lastname }}
            </div>
        </div>
        <form class="needs-validation forms" method="post" enctype="multipart/form-data" id="demo">
            {% csrf_token %}
            <div class="row mt-5 supplier">
                <div class="col-md-6">
                    <div class="row">
                        <label class="col-md-4 form-group control-label" for="" >Fournisseur :<span class="mandatory"> *</span></label>
                        <div class="col-md-8">
                            {{quotation_form.supplier}}
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="row">
                        <label class="col-md-5 form-group control-label" for="" >N° Devis fournisseur :<span class="mandatory"> *</span></label>
                        <div class="col-md-7">
                            {{ quotation_form.num_quotation_supplier }}
                        </div>
                    </div>
                </div>
            </div>
            {{ component_forms.management_form }}

            <div class="row mt-4" style="text-align: center;">
                    <div class="col-md-2">
                        <label class=" form-group control-label" for="{{ component_form.quantity.id_for_label }}" >Quantité :<span class="mandatory"> *</span></label>
                    </div>

                    
                    <div class="col-md-4">
                        <label class=" form-group control-label" for="{{ component_form.reference.id_for_label }}" >Référence :<span class="mandatory"> *</span></label>
                    </div>
                    <div class="col-md-3">
                        <label class=" form-group control-label" for="{{ component_form.name.id_for_label }}" >Libellé :<span class="mandatory"> *</span></label>
                    </div>
                    
                    <div class="col-md-2">
                        <label class=" form-group control-label" for="{{ component_form.price.id_for_label }}" >Prix :<span class="mandatory"> *</span></label>
                    </div>
                </div>

            {% for component_form in component_forms %}
            <input name="prefix-INITIAL_FORM_COUNT" value="3" type="hidden">
  <input name="prefix-TOTAL_FORM_COUNT" value="3" type="hidden">
  <fieldset class="forms">

        <div class="row  mt-1">
                <div type="text" name="prefix-0-name" value="" id="id_prefix-0-name" class="col-md-2">{{ component_form.quantity }}</div>
                        
                <div type="text" name="prefix-0-name" value="" id="id_prefix-0-name" class="col-md-4">{{ component_form.reference }}</div>
                        
                <div type="text" name="prefix-0-name" value="" id="id_prefix-0-name" class="col-md-3">{{ component_form.name }}</div>
                        
                <div type="text" name="prefix-0-name" value="" id="id_prefix-0-name" class="col-md-2">{{ component_form.price }}</div>
                
        </div>
  <fieldset disabled class="empty-form" style="display: none">
                <div class="row  mt-1">
                    <div type="text" name="prefix-__prefix__-name" value="" id="id_prefix-__prefix__-name" class="col-md-2">{{ component_form.quantity }}</div>
                            
                    <div type="text" name="prefix-__prefix__-name" value="" id="id_prefix-__prefix__-name" class="col-md-4">{{ component_form.reference }}</div>
                            
                    <div type="text" name="prefix-__prefix__-name" value="" id="id_prefix-__prefix__-name" class="col-md-3">{{ component_form.name }}</div>
                            
                    <div type="text" name="prefix-__prefix__-name" value="" id="id_prefix-__prefix__-name" class="col-md-2">{{ component_form.price }}</div>
                            
                    <div class="btn btn-danger" data-formset-remove-form>-</div>
                    
                </div>
            </fieldset>
            
   
                </fieldset>
            {% endfor %}
           
  <input name="prefix-INITIAL_FORM_COUNT" value="3" type="hidden">
  <input name="prefix-TOTAL_FORM_COUNT" value="3" type="hidden">

  <fieldset disabled class="empty-form" style="display: none">
    <fieldset>
      <label for="id_prefix-__prefix__-name">Name</label>
      <input type="text" name="prefix-__prefix__-name" value="initial" id="id_prefix-__prefix__-name">
      <button type="button" data-formset-remove-form>
        DELETE
      </button>
    </fieldset>
  </fieldset>

 
  <fieldset class="controls">
    <div class="btn btn-success" data-formset-add-form>+</div>

  </fieldset>

            {% block payoff %}
                {% comment %}
                <div class="row mt-5">
                    <div class="col-md-5">
                        <label class=" form-group control-label" for="{{ quotation_form.payoff_type.id_for_label }}" >Type de règlement :<span class="mandatory"> *</span></label>
                            {{ quotation_form.payoff_type }}
                    </div>
                    
                    <div class="col-md-5">
                        <label class=" form-group control-label" for="{{ quotation_form.payoff_date.id_for_label }}" >Date de règlement :<span class="mandatory"> *</span></label>
                        {{ quotation_form.payoff_date }}
                    </div>
                </div>
                {% endcomment %}
                {% endblock payoff %}  
                
            <div class="row mt-5">
                    <div class="col-md-2">
                        <a href="javascript:window.history.go(-1);" class="btn btn-primary btn-sm btn-block button" id="button">Annuler</a>
                    </div>
                    <div class="col-md-4"></div>      
                    <div class="col-md-2">
                        {% block back_home %}   
                         {% comment %}   <button class="btn btn-primary btn-sm btn-block button" type="submit" id="validerAccueil">Valider/Retour Accueil</button> {% endcomment %}
                        {% endblock back_home %}    
                    </div> 
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <button class="btn btn-primary btn-sm btn-block button" type="submit" id="valider">{% block next %}Valider{% endblock next %}</button>
                    </div>
                </div>                    
        </form>            
    </div>


    <script type="text/javascript">
        function Formset(element) {
            /* 
              Dynamic Formset handler for Django formsets.
            
            Events:
            
              * init.formset
              * add-form.formset
              * remove-form.formset
              * renumber-form.formset
              
            */
            if (!(this instanceof Formset)) {
              return new Formset(element);
            }
            var formset = this;
            var emptyForm = element.querySelector('.empty-form').firstElementChild;
            var formsList = element.querySelector('.forms');
          
            var initialForms = element.querySelector('[name$=INITIAL_FORM_COUNT]');
            var totalForms = element.querySelector('[name$=TOTAL_FORM_COUNT]');
            var prefix = initialForms.name.replace(/INITIAL_FORM_COUNT$/, '');
          
            function addForm(event) {
              // Duplicate empty form.
              var newForm = emptyForm.cloneNode(true);
              // Update all references to __prefix__ in the elements names.
              renumberForm(newForm, '__prefix__', totalForms.value);
              // Make it able to delete itself.
              newForm.querySelector('[data-formset-remove-form]').addEventListener('click', removeForm);
              // Append the new form to the formsList.
              formsList.insertAdjacentElement('beforeend', newForm);
              element.dispatchEvent(new CustomEvent('add-form.formset', {
                detail: {
                  form: newForm,
                  formset: formset
                }
              }));
              // Update the totalForms.value
              totalForms.value = Number(totalForms.value) + 1;
            }
          
            function getForm(target) {
              var parent = target.parentElement;
              if (parent == document) {
                return null;
              }
              if (parent == formsList) {
                return target;
              }
              return getForm(parent);
            }
          
            function renumberForm(form, oldValue, newValue) {
              var matchValue = prefix + oldValue.toString()
              var match = new RegExp(matchValue);
              var replace = prefix + newValue.toString();
          
              ['name', 'id', 'for'].forEach(function(attr) {
                form.querySelectorAll('[' + attr + '*=' + matchValue + ']').forEach(function(el) {
                  el.setAttribute(attr, el.getAttribute(attr).replace(match, replace));
                });
              });
          
              element.dispatchEvent(new CustomEvent('renumber-form.formset', {
                detail: {
                  form: form,
                  oldValue: oldValue,
                  newValue: newValue,
                  formset: formset
                }
              }));
            }
          
            function removeForm(event) {
              // Find the form "row": the child of formsList that is the parent of the element
              // that triggered this event.
              var formToRemove = getForm(event.target);
              // Renumber the rows that come after us.
              var nextElement = formToRemove.nextElementSibling;
              var nextElementIndex = Array.prototype.indexOf.call(formsList.children, formToRemove);
              while (nextElement) {
                renumberForm(nextElement, nextElementIndex + 1, nextElementIndex);
                nextElement = nextElement.nextElementSibling;
                nextElementIndex = nextElementIndex + 1;
              }
              // Remove this row.
              formToRemove.remove();
              element.dispatchEvent(new CustomEvent('remove-form.formset', {
                detail: {
                  form: formToRemove,
                  formset: formset
                }
              }));
              // Decrement the management form's count.
              totalForms.value = Number(totalForms.value) - 1;
            }
          
            element.querySelector('[data-formset-add-form]').addEventListener('click', addForm);
            element.formset = this;
          
            element.dispatchEvent(new CustomEvent('init.formset', {
              detail: {
                formset: this
              }
            }));
          
            this.addForm = addForm;
          }
          
          new Formset(document.querySelector('#demo'));
          

    </script>

{% endblock content %}

