{% extends 'garage/base.html' %} 

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 id="title" class="title">{% block title %}Création nouveau devis {% endblock title %}</h1>
                {{ reparation_order.vehicle.customer.lastname }}
            </div>
        </div>
        <form class="needs-validation" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row mt-5 supplier">
                <div class="col-md-6">
                    <div class="row">
                        <label class="col-md-4 form-group control-label" for="{{ supplier_form.name.id_for_label }}" >Fournisseur :<span class="mandatory"> *</span></label>
                        <div class="col-md-8">
                            {{quotation_form.name}}
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="row">
                        <label class="col-md-5 form-group control-label" for="{{ quotation.num_quotation_supplier.id_for_label }}" >N° Devis fournisseur :<span class="mandatory"> *</span></label>
                        <div class="col-md-7">
                            {{ quotation_form.num_quotation_supplier }}
                        </div>
                    </div>
                </div>

            </div>
            <div class="row mt-4">
                <div class="col-md-3">
                    <label class=" form-group control-label" for="{{ supplier_form.name.id_for_label }}" >Quantité :<span class="mandatory"> *</span></label>
                        {{ component_form.quantity }}
                </div>

                <div class="col-md-3">
                    <label class=" form-group control-label" for="{{ component_form.reference.id_for_label }}" >Référence :<span class="mandatory"> *</span></label>
                        {{ component_form.reference }}
                </div>
                <div class="col-md-3">
                    <label class=" form-group control-label" for="{{ component_form.name.id_for_label }}" >Libellé :<span class="mandatory"> *</span></label>
                        {{ component_form.name }}
                </div>
                
                <div class="col-md-3">
                    <label class=" form-group control-label" for="{{ component_form.price.id_for_label }}" >Prix :<span class="mandatory"> *</span></label>
                        {{ component_form.price }}
                </div>
            </div>

            {% block payoff %}
                {% comment %}
                <div class="row mt-5">
                    <div class="col-md-5">
                        <label class=" form-group control-label" for="{{ quotation_form.payoff_type.id_for_label }}" >Type de règlement :<span class="mandatory"> *</span></label>
                            {{ quotation_form.payoff_type }}
                    </div>
                    
                    <div class="col-md-5">
                        <label class=" form-group control-label" for="{{ quotation_form.payoff_date.id_for_label }}" >Date de règlement :<span class="mandatory"> *</span></label>
                        {{ quotation_form.payoff_date }}
                    </div>
                </div>
                {% endcomment %}
            {% endblock payoff %}  

            <div class="row mt-5">
                    <div class="col-md-2">
                        <a href="javascript:window.history.go(-1);" class="btn btn-primary btn-sm btn-block button" id="button">Annuler</a>
                    </div>
                    <div class="col-md-4"></div>      
                    <div class="col-md-2">
                        {% block back_home %}   
                         {% comment %}   <button class="btn btn-primary btn-sm btn-block button" type="submit" id="validerAccueil">Valider/Retour Accueil</button> {% endcomment %}
                        {% endblock back_home %}    
                    </div> 
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <button class="btn btn-primary btn-sm btn-block button" type="submit" id="valider">{% block next %}Valider{% endblock next %}</button>
                    </div>
                </div>    
        </form>            
    </div>

{% endblock content %}

