{% extends 'garage/base.html' %}
{% load static %}

{% block css %}"{% static 'garage/css/style.css' %}"{% endblock css %}

    {% block content %}

    <div>

        <header class="row">
            <titre class="col-md-12">
                <h1 id="titre">{% block myTitle %}Ordre de réparation{% endblock myTitle %}</h1> 
                <br/>                          
            </titre>

  
            
            <formulaire class="col-md-12">
                <h2>Client :</h2>
                <hr>
                <div class="row">
                    <div class="col-md-6">
                        <label for="name" class="control-label">Nom : </label>
                        {{ vehicle.customer.lastname }}
                    </div>
                    <div class="col-md-6">
                        <label for="mail" class="control-label">Email : </label> 
                        {{ vehicle.personal_data.mail }}
                    </div> 
                </div>  
                
                <div class="row">
                    <div class="col-md-6">
                        <label for="firstname" class="control-label">Prénom : </label>
                        {{ vehicle.customer.firstname }}
                    </div>
                    <div class="col-md-6">
                        <label for="address" class="control-label">Adresse : </label>
                        {{ vehicle.customer.address.street }}
                    </div>
                </div>                 
                
                <div class="row">
                    <div class="col-md-6">
                        <label for="phone" class="control-label">Téléphone : </label>
                        {{ vehicle.customer.personal_data.telephone_client }}
                    </div>
                    
                    <div class="col-md-2">
                        <label for="city" class="control-label">Ville : </label>
                        {{ vehicle.customer.address.city.city_name }}
                    </div>
                    <div class="col-md-2">
                        <label for="zipcode" class="control-label">Code Postal : </label>
                        {{ vehicle.customer.address.zipCode.zip_code }}
                    </div>
                    

                    <div class="col-md-2">
                        <label for="afpa_number" class="control-label">Numéro AFPA : </label>
                        {{ vehicle.client.afpa_number }}
                    </div>
                </div>
                <br/>



            </formulaire>
            
        </header>
        
        <vehicle class="col-md-12">
            <h3>Véhicule :</h3>
            <hr>
            <div class="row">
                <div class="col-md-3">
                    <label for="address">Marque</label>
                    <input type="text" class="form-control" id="address" placeholder="" required>
                    <div class="invalid-feedback">
                        Saisir la marque
                    </div>
                </div>

                <div class="col-md-2">
                    <label for="zip">Modele</label>
                    <input type="text" class="form-control" id="zip" placeholder="" required>
                    <div class="invalid-feedback">
                        Saisir le modele
                    </div>
                </div>

                <div class="col-md-2">
                    <label for="zip">Immatriculation</label>
                    <input type="text" class="form-control" id="zip" placeholder="" required>
                    <div class="invalid-feedback">
                        Saisir l'immatriculation
                    </div>
                </div>

                <div class="col-md-2">
                    <label for="zip">Réceptionnaire</label>
                    <input type="text" class="form-control" id="zip" placeholder="" required>
                    <div class="invalid-feedback">
                        Saisir le réceptionnaire
                    </div>
                </div>

            </div>

        </vehicle>
        <hr>
        <form class="" action="" method="post">
            <div id="input">
                <div class="form-group">
                    <label for="textarea">Description des symptômes du client (si diagnostic) </label>
                    <textarea id="textarea" class="form-control" rows="4"></textarea>
                    <small class="form-text text-muted">Vous pouvez agrandir la fenêtre</small>
                </div>

                <div class="form-group">
                    <label for="textarea">Intervention à réaliser</label>
                    <textarea id="textarea" class="form-control" rows="4"></textarea>
                    <small class="form-text text-muted">Vous pouvez agrandir la fenêtre</small>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                </div>
                <div class="col-md1-12">
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Valider</button>
                </div>
            </div>
        </form>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- jQuery -->
    <script src="{% static 'garage/js/jquery-slim.min.js' %}"></script>
    <script>
        window.jQuery || document.write('<script src="{% static "garage/js/jquery-slim.min.js" %}"><\/script>')
    </script>
    <script src="{% static 'garage/js/popper.min.js' %}"></script>
    <script src="{% static 'garage/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'garage/js/holder.min.js' %}"></script>

{% endblock content %}

