<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}AFPA - Recherche client {% endblock %}</title>

    {% load static %}

    <link href="{% static 'garage/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'garage/css/style.css' %}" rel="stylesheet">
</head>

<body class="container">

    <div>

        <br/>
        <div class="row">

            <h1>Liste des Clients</h1>
            &emsp;

            <div class="form-inline my-2 my-lg-0" style="margin-left: 40%;">
                <form action="{% url 'garage:search' %}" method="get" accept-charset="utf-8">
                    <input class="form-control mr-sm-2" name="query" type="text" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0">Search</button>
                </form>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                                <button class="btn btn-primary btn-lg btn-block" type="submit">Nouveau</button>
                        </div>
                    </div>
                </div>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Nom</th>
                        <th scope="col">Prénom</th>
                        <th scope="col">Email</th>
                    </tr>
                </thead>
                <tbody>

                    <tr> {% for customer in context_object_name %} </tr>
                    <th scope="row">{{ customer.lastname }}</th>
                    <td>{{ customer.firstname }}</td>
                    <td>{{ customer.mail }}</td>
                    {% empty %}
                    <td class="col-md-12">aucun client</td>
                    {% endfor %}

                </tbody>
            </table>
        </div>

        <br/>

        <header class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        <a href="https://www.afpa.fr/" target="_blank">
                            <img src="{% static 'garage/img/afpa.jpg' %}" alt="afpa" />
                        </a>
                    </div>
                    <div class="col-md-9">
                        <br/>
                        <h1 id="title">Création nouveau client</h1>
                    </div>
                </div>
            </div>

            <afpa class="col-md-3">
                <div id="info_afpa">
                    <div class="row">
                        <div class="col-md-12">AFPA St Jean de VEDAS</div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">ZI de la Lauze</div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">34430 St Jean de Vedas</div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img class="d-block w-100" src="{% static 'garage/img/mercedes.jpg ' %}" alt="mercedes">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="{% static 'garage/img/bmw.jpg' %}" alt="bmw">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="{% static 'garage/img/audi.jpg' %}" alt="audi">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </afpa>

            <formulaire class="col-md-9">
                <h4>Client</h4>
                <form class="needs-validation" action="{% url 'garage:search' %}" method="post">
                    {% csrf_token %}

                    {% for customer in context_object_name %} 

                    <div class="row">
                        <div class="col-md-6">
                          <label for="nom_client">Nom</label>
                          <input type="text" class="form-control" id="customer_lastname" placeholder="" value="{{ customer.lastname }}" required>
                        </div>
                        <div class="col-md-6">
                          <label for="prenom_client">Prénom</label>
                          <input type="text" class="form-control" id="customer_firstname" placeholder="" value="{{ customer.firstname }}" required>
                        </div>
                    </div>  

                    <div class="row">
                        <div class="col-md-6">
                            <label for="phone_number" class="control-label">Téléphone </label>
                            <input type="text" class="form-control" id="customer_phone" placeholder="" value="{{ customer.phone_number }}" required>
                        </div>
                        <div class="col-md-6">
                            <label for="mail" class="control-label">Email </label> 
                            <input type="email" class="form-control" id="customer_mail" placeholder="" value="{{ customer.mail }}" required>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label for="address" class="control-label">Adresse </label>
                            <input type="text" class="form-control" id="customer_address" placeholder="" value="{{ customer.address }}" required>
                        </div>

                        <div class="col-md-2">
                            <label for="zipCode" class="control-label">Code Postal </label>
                            <input type="text" class="form-control" id="customer_zipcode" placeholder="" value="{{ customer.zipCode }}" required>
                        </div>

                        <div class="col-md-2">
                            <label for="city_name" class="control-label">Ville </label>
                            <input type="text" class="form-control" id="customer_city" placeholder="" value="{{ customer.city_name }}" required>
                        </div>

                    </div>

                    <br/>

                    {% endfor %}


                    <div class="row">
                        <div class="col-md-6">
                            <button class="btn btn-primary btn-lg btn-block" type="submit">Modifier</button>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-primary btn-lg btn-block" type="submit">Valider</button>
                        </div>
                    </div>                                
                </form>

            </formulaire>

        </header>

        <footer class="my-5 pt-5 text-muted text-center text-small">
        </footer>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- jQuery -->
    <script src="{% static 'garage/js/jquery-slim.min.js' %}"></script>
    <script>window.jQuery || document.write('<script src="{% static "garage/js/jquery-slim.min.js" %}"><\/script>')</script>
    <script src="{% static 'garage/js/popper.min.js' %}"></script>
    <script src="{% static 'garage/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'garage/js/holder.min.js' %}"></script>
</body>

</html>

