{% extends 'garage/base.html' %}

{% load static %}
{% block head %}
<link href="{% static 'garage/css/style.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}


<div class="container">
    <div class="row">
        <h1 class="mt-5">Liste des Vehicules</h1> 
    </div>
    
    <div class="row">
        {% block search %}{% endblock search %}
    </div>

    <div class="row">
        <h4 class="col-md-12" >
            <div class="row">
                <div class=" col-md-3">Modele </div>
                <div class=" col-md-3">Marque</div>
                <div class="col-md-3">N° VIN</div>
                <div class="col-md-3">N° Immatriculation</div>
            </div>
        </h4>
        
        {% for vehicle in vehicle_list %}
        <input type="radio" class="btn col-md-1 radio" id="{{vehicle.id}}" name="VehicleBtn" onclick='javascript:document.vehicleChecked={{vehicle.id}}' >
    </input>
    
    <label for="{{vehicle.id}}" id="listing" class="col-md-12 label_vehicle" ondblclick="redirect()">
        <div class="row ">
            <div class="col-md-3">{{ vehicle.model }}</div>
            <div class="col-md-3">{{ vehicle.brand }}</div>
            <div class="col-md-3">{{ vehicle.vin }}</div>
            <div class="col-md-3">{{ vehicle.license_plate }}</div>
        </div>
        
    </label>
    
    {% empty %}
    <p>aucun véhicule</p>
    {% endfor %}
      
    </div>

<div class="row">
    {% block buttons %}{% endblock buttons %}
</div>

</div>

{% endblock %}