{% extends 'garage/vehicle_form.html' %}

{% block title %}Modification Véhicule{% endblock title %}
{% block title_bike %}Modification Vélo{% endblock title_bike %}

{% block radio %}
{% endblock radio %}
 
    <!-- {% block vehicle_update %} 
    <div class="col-md-6">
        <div class="form-group {% if form.model_name.errors %}has-warning has-feedback{% endif %}">
            <label for="{{ form.model_name.id_for_label }}" class="control-label">Modèle</label>
            {{ form.model_name }}
        </div>
        <div class="invalid-feedback">
            Saisie du prenom est obligatoire
        </div>
    </div>
    {% endblock vehicle_update %} -->

                   

{% block button_motorised %}{% endblock button_motorised %}
{% block button_bike %}{% endblock button_bike %}
{% block buttons %}
<div class="row mt-4">
        <div class="col-md-2">
            <a href="#" onClick="history.back()" class="btn btn-primary btn-sm btn-block">Annuler</a>
        </div>
        <div class="col-md-8">
        </div>               
        <div class="col-md-2">
            <button class="btn btn-primary btn-sm btn-block" onClick="submitButton()" type="submit">Valider</button>
        </div>
</div> 
{% endblock buttons %} 

{% block reparation_order_list %}
<div class="row mt-5">
        
        <h4 class="col-md-12" >
            <div class="row">
                <div class=" col-md-3">Client</div>
                <div class=" col-md-2">Véhicule</div>
                <div class="col-md-2">Réceptionnaire</div>
                <div class="col-md-3">Date de réception</div>
                <div class="col-md-2">Statut</div>
            </div>
        </h4>
        
        
        
        {% for reparation_order in reparation_order_list %}
        <input type="radio" class="btn col-md-1 radio" id="{{reparation_order.id}}" name="reparation_order" onclick='javascript:document.reparation_orderChecked={{reparation_order.id}};' ></input>
    
        <label for="{{reparation_order.id}}" id="elementListe" class="col-md-12" ondblclick="redirect()">
            <div class="row ">
                <div class="col-md-3">{{ reparation_order.vehicle.customer.lastname }} {{ reparation_order.vehicle.customer.firstname }}</div>
                <div class="col-md-2">{{ reparation_order.vehicle }}</div>
                <div class="col-md-2">{{ reparation_order.user_profile }}</div>
                <div class="col-md-3">{{ reparation_order.reparation_order }}</div>
                <div class="col-md-2">{{ reparation_order.status }}</div>
                
            </div>
        </label>
    
        {% empty %}
        <p>aucune intervention avec ce véhicule.</p>
        {% endfor %}
    </div>
</div>

{% endblock reparation_order_list %}

{% block myscript %}
    <script>

        function submitButton(){
                document.forms[0].submit() 
        }
    </script>
{% endblock myscript %}