{% extends 'garage/base.html' %}

{% load static %}
{% block head %}
<link href="{% static 'garage/css/style.css' %}" rel="stylesheet" type="text/css" />
{% endblock head %}

{% block content %}

    <div class="row mt-5">
        <h1 class="col-md-5">{% block title %}Liste des Vehicules{% endblock title %}</h1> 
        
        {% block search %}{% endblock search %}
    </div>

    {% block list %}
    
        <h4 class="col-md-12 mt-5" >
            <div class="row mb-3">
                <div class=" col-md-3">Modele </div>
                <div class=" col-md-3">Marque</div>
                <div class="col-md-3">N° VIN</div>
                <div class="col-md-3">N° Immatriculation</div>
            </div>
        </h4>
        
        {% for vehicle in vehicle_list %}
        <input type="radio" class="btn col-md-1 radio" id="{{vehicle.id}}" name="VehicleBtn" onclick='javascript:document.vehicleChecked={{vehicle.id}}' >
    </input>
    
    <label for="{{vehicle.id}}" id="listing" class="col-md-12 label_vehicle" ondblclick="redirect()">
        <div class="row ">
            <div class="col-md-3">{{ vehicle.model }}</div>
            <div class="col-md-3">{{ vehicle.brand }}</div>
            <div class="col-md-3">{{ vehicle.vin }}</div>
            <div class="col-md-3">{{ vehicle.license_plate }}</div>
        </div> 
    </label>
    
    {% empty %}
    <p>aucun véhicule</p>

    {% endfor %}
      
    <div id="error" class=" col-md-12 mt-2"></div>
    {% endblock list %}


    {% block buttons %}
        <div class="row">
            <div class="container">
                    <div class="row mt-5">
                        <a href="{% url 'garage:home' %}" class=" btn btn-sm btn-primary col-md-1" >Annuler</a>
                        <div class="col-md-3"></div>
                        <button class=" btn btn-primary btn-sm col-md-2" onClick="modifier()">Modifier</button>
                        <div class="col-md-2"></div>
                        <button class="  btn btn-primary btn-sm col-md-4" onClick="redirect()">Valider et Attribuer un véhicule</button>
                    </div>
                </div>
                  
        </div>
    {% endblock buttons %}





<script type="text/javascript">

    function redirect() {
        if (document.vehicleChecked && window.location.href.indexOf("vehicles") >= 0){
            window.location = "{% url 'garage:vehicle-update' 1 %}".replace(1, document.vehicleChecked)
        }
        else if (document.vehicleChecked && window.location.href.indexOf("select") >= 0){
            window.location = "{% url 'garage:reparation-order-create' 1 %}".replace(1, document.vehicleChecked)
        } else {
            document.getElementById("error").innerHTML = "Veuillez selectionner un véhicule."
        }     
    }
    
    function vehicle_create() { 
//expression régulière qui récupère l'id client
//[/] = recherche le caractère "/" dans l'ulr
//(d+) = "()" retourne la valeur à l'intérieur des (), "d" cherche un nombre entre [0-9],
// "+" cherche entre 1 et plusieurs fois le paramètre saisi avant 
// window.location.href.match(/[/](\d+)[/]/) retourne un tableau = [/nombre/, nombre]
        let stringToFind = window.location.href.match(/[/](\d+)[/]/)
        window.location = "{% url 'garage:vehicle-create' 1 %}".replace(1, stringToFind[1])
        }
    function modifier() {
        if (document.vehicleChecked){
        window.location = "{% url 'garage:vehicle-update' 1 %}".replace(1, document.vehicleChecked)            
    } else {
        document.getElementById("error").innerHTML = "Veuillez selectionner un véhicule."
    }       
}
</script> 


{% endblock %}