{% extends "garage/base.html" %}
{% load static %}

{% block content %}

    {% block radio %}
        {% if vehicle_type == "twowheelers" %}
        <div class="row">
            <input class="radio listing btnradio" type="radio" value="Moto" id="motorbike_radio" onclick='javascript:select_twoWheeler(this);' name="optradio" checked="checked"></input>    
            <label for="motorbike_radio" class="checkmark mt-5 col-md-3" id="listing">
                Moto
            </label>
            <input class="radio listing"  type="radio" value="Velo" id="bike_radio" onclick='javascript:select_twoWheeler(this);' name="optradio"></input> 
            <label for="bike_radio" class="checkmark mt-5 col-md-3"  id="listing">
                Velo
            </label>
        </div>
                <div id="folder">
            {% endif %}
            {% endblock radio %}
            
            
            {% if vehicle_type == "twowheelers" or vehicle_type == "motorised" %}    
            
            <div class="container" id="form">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <h1 id="title" class="title mb-5">{% block title %}Création nouveau Véhicule{% endblock title %}</h1>                    
                    </div>     
                </div>
                
                
                <form class="needs-validation" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="{{ form.brand.id_for_label }}" class="control-label">Marque<span class="mandatory"> *</span></label>
                                {{ form.brand }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group {% if form.model_name.errors %}has-warning has-feedback{% endif %}">
                                <label for="{{ form.model_name.id_for_label }}" class="control-label">Modèle<span class="mandatory"> *</span></label>
                                {{ form.model_name }}
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6">
                            <label for="{{ customer_form.license_plate.id_for_label }}" class="control-label">Immatriculation<span class="mandatory"> *</span></label>
                            {{ form.license_plate }}
                        </div>
                        <div class="col-md-6">
                            <label for="{{ form.vin.id_for_label }}" class="control-label">Vin<span class="mandatory"> *</span></label>
                            {{ form.vin }}
                        </div>
                    </div> 
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <label for="{{ form.mileage.id_for_label }}" class="control-label">Kilometrage</label>
                            {{ form.mileage }}
                        </div>
                    </div>
                    
                    <div class="row mt-3">
                        <div class="col-md-4">
                            <label for="{{ car_form.circulation_date.id_for_label }}" class="control-label">Date mise en circulation<span class="mandatory"> *</span></label>
                            {{ form.circulation_date }}
                        </div>
                        
                        <div class="col-md-4">
                            <label for="{{ car_form.grey_doc_img.id_for_label }}" class="control-label">Carte grise<span class="mandatory"> *</span></label>
                            {{ form.grey_doc_img }}
                        </div>
                        
                        <div class="col-md-4">
                            <label for="{{ car_form.insurance_img.id_for_label }}" class="control-label">Carte assurance<span class="mandatory"> *</span></label>
                            {{ form.insurance_img }}
                        </div>
                    </div>  
                    {% block buttons_form %}
                    <div class="row mt-5">
                        <div class="col-md-2">
                            <a href="javascript:window.history.go(-1);" class="btn btn-primary btn-sm btn-block">Annuler</a>
                        </div>
                        <div class="col-md-4"></div>     
                        <div class="col-md-2"></div> 
                        <div class="col-md-2"></div>       
                        <div class="col-md-2">
                            <button class="btn btn-primary btn-sm btn-block" type="submit">Etape suivante</button>
                        </div>
                    </div>
                {% endblock buttons_form %}

                    
                </form>
            </div>
        
    {% endif %}

    {% if vehicle_type == "bike" or  vehicle_type == "twowheelers" %}        
        <div class="container-fluid" >
        {% if vehicle_type == "twowheelers" %}
            <div id="bike" style="display: none">
        {% endif %}
            
                <div class="col-md-12">
                    <div class="col-md-12">
                        <h1 id="title" class="title" >{% block title_bike %}Création nouveau Vélo{% endblock title_bike %}</h1>
                    </div>     
                </div>

                <div class="col-md-9">
                    <form class="" action="" method="post">
                        {% csrf_token %}
                        
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group {% if bike_form.model_name.errors %}has-warning has-feedback{% endif %}">
                                    <label for="{{ bike_form.model_name.id_for_label }}" class="control-label">Modèle</label>
                                    {% if vehicle_type == "twowheelers" %}
                                        {{ bike_form.model_name }}
                                    {% endif %}
                                    {% if vehicle_type == "bike" %}
                                        {{ form.model_name }}
                                    {% endif %}
                                    
                                </div>
                                <div class="invalid-feedback">
                                    La saisie du modèle est obligatoire
                                </div>
                            </div>
                        </div>

                        {% block buttons_bike %}
                        <div class="row mt-5">
                            <div class="col-md-2">
                                <a href="javascript:window.history.go(-1);" class="btn btn-primary btn-sm btn-block">Annuler</a>
                            </div>
                            <div class="col-md-4"></div>     
                            <div class="col-md-2"></div> 
                            <div class="col-md-2"></div>       
                            <div class="col-md-2">
                                <button class="btn btn-primary btn-sm btn-block" type="submit">Etape suivante</button>
                            </div>
                        </div>
                    {% endblock buttons_bike %}

                    </form>
                </div>
        </div>
    {% endif %}
    
    {% if vehicle_type == "twowheelers" %}  
                </div>  
        </div>
    {% endif %} 
             
        
{% if vehicle_type == "bike" or  vehicle_type == "twowheelers" %}        
    <script>
        function select_twoWheeler(){
            if (document.getElementById("motorbike_radio").checked){
                document.getElementById("bike").style.display = "none";
                document.getElementById("form").style.display = "block";

            } else if (document.getElementById("bike_radio").checked){
                console.log(document.getElementById("motorbike_form"))
                document.getElementById("form").style.display = "none";
                document.getElementById("bike").style.display = "block";
            }
        }
    </script>
{% endif %}
    {% block reparation_order_list %}{% endblock reparation_order_list %}
{% endblock content%}