{% extends 'garage/liste_vehicules.html' %} {% block recherche %}

<div class="container">
    {% comment %} <div class="row">
        <label class="checkmark ">
            <input type="radio" value="Voiture" id="Voiture" name="optradio" checked="checked">Voiture</label>
        <div class="col-md-1"></div>
        <label class="checkmark">
            <input type="radio" value="Moto" id="Voiture" name="optradio">Moto</label>
        <div class="col-md-1"></div>
        <label class="checkmark">
            <input type="radio" value="Velo" id="Voiture" name="optradio">Velo</label>
    </div> {% endcomment %}

    <div class="col-md-2">
    </div>
    <div class="row mb-5 mt-3">

        <div class="col-md-2 ">
            <button onClick="voiture_create()" id="nouveau" value="{{client_id}}" class="btn btn-sm btn-primary btn-lg btn-block" >Nouveau</button>
        </div>
    </div>
</div>
{% endblock recherche %} {% block bouttons %}


<div class="container">
    <div class="row mt-5">
        
        <a href="{% url 'garage:client-select' %}" class=" btn btn-sm btn-primary col-md-1" onClick="redirect()">Annuler</a>
        <div class="col-md-3"></div>
        <button class=" btn btn-primary btn-sm col-md-2" onClick="redirect()">Modifier
        </button>
        <div class="col-md-1"></div>
        <button class="  btn btn-primary btn-sm col-md-5" onClick="redirect()">Valider et finaliser
            un ordre de réparation
        </button>
    </div>
</div>




<script type="text/javascript">

    function redirect() {
        window.location = "{% url 'garage:intervention-create' 1 %}".replace(1, document.vehiculeChecked)
    }

    function voiture_create() { 

//expression régulière qui récupère l'id client
//[/] = recherche le caractère "/" dans l'ulr
//(d+) = "()" retourne la valeur à l'intérieur des (), "d" cherche un nombre entre [0-9],
// "+" cherche entre 1 et plusieurs fois le paramètre saisi avant 
// window.location.href.match(/[/](\d+)[/]/) retourne un tableau = [/nombre/, nombre]

        let chaineATrouver = window.location.href.match(/[/](\d+)[/]/)
        window.location = "{% url 'garage:voiture-create' 1 %}".replace(1, chaineATrouver[1])
        }
</script> {% endblock bouttons %}
</div>