{% extends "garage/base.html" %}
{% load static %}

{% block content %}
<div class="container">
        <titre class="col-md-12">
                <div class="col-md-12">
                    <h1 id="titre" class="title">Création nouveau Véhicule</h1>
                </div>     
        </titre>
    <br/>

        

        <formulaire class="col-md-9">
            <h4>Véhicule</h4>
            <form class="" action="" method="post">
                {% csrf_token %}

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group {% if form.libelle_marque.errors %}has-warning has-feedback{% endif %}">
                            <label for="{{ form.libelle_marque.id_for_label }}" class="control-label">Marque</label>
                            {{ form.libelle_marque }}
                        </div>
                        <div class="invalid-feedback">
                            Saisie du nom est obligatoire
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group {% if form.libelle_modele.errors %}has-warning has-feedback{% endif %}">
                            <label for="{{ form.libelle_modele.id_for_label }}" class="control-label">Modèle</label>
                            {{ form.libelle_modele }}
                        </div>
                        <div class="invalid-feedback">
                            Saisie du prenom est obligatoire
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label for="{{ client_form.immatriculation.id_for_label }}" class="control-label">Immatriculation</label>
                        {{ form.immatriculation }}
                    </div>
                    <div class="col-md-6">
                        <label for="{{ form.vin.id_for_label }}" class="control-label">Vin</label>
                        {{ form.vin }}
                    </div>
                    <div class="col-md-6">
                        <label for="{{ form.kilometrage.id_for_label }}" class="control-label">kilometrage</label>
                        {{ form.kilometrage }}
                    </div>
                </div> 

                <div class="row">
                    <div class="col-md-4">
                        <label for="{{ voiture_form.date_mec.id_for_label }}" class="control-label">Date mise en circulation</label>
                        {{ form.date_mec }}
                    </div>

                    <div class="col-md-4">
                        <label for="{{ voiture_form.carte_grise_img.id_for_label }}" class="control-label">Carte grise</label>
                        {{ form.carte_grise_img }}
                    </div>

                    <div class="col-md-4">
                        <label for="{{ voiture_form.carte_assurance_img.id_for_label }}" class="control-label">Carte assurance</label>
                        {{ form.carte_assurance_img }}
                    </div>
                </div>
               
                <br/>
                <div class="row">
                    <div class="col-md-3">
                        <a onClick="history.back()" class="btn btn-primary btn-lg btn-block">Annuler</a>
                    </div>
                    <div class="col-md-3">
                    </div>        
                    <div class="col-md-3">
                    </div>        
                    <div class="col-md-3">
                        <button class="btn btn-primary btn-lg btn-block" type="submit">Etape suivante</button>
                    </div>
                </div>   
                {{form.client}}

            </form>

        </formulaire>
</div>

{% endblock %}