.container{
    width: 100%;
}

.navbar{
    background-color: rgba(3, 145, 3, 0.877); 
    height: 47px;
    box-sizing: border-box;
    
}

.nav-link{
    color: whitesmoke;
      
}

.active{
    background-color: #0d6607;
    height: 100%;

}

.nav-item a:hover {
    background-color: rgba(129, 190, 104, 0.664);
    color: white;
    height: 100%;
    
}

.nav-item{
    padding-top: 1px;
}

ul.navbar-nav li {
    display: inline;
    font-size: 20px;
}

#logo{
    padding-left: 70px;
}

#titre{
    text-align: center;
    align-content: center;
    padding-top: 50px;
}

#logout{
    text-align: center;
    align-content: center;
    padding-top: 70px;
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content{
    padding-top : 60px;
}

#test{
    font-size: 110%;
    padding-top: 80%;
}

/* .nav-link::after{
   color: white; 
   content: "|";
  padding-right: 20px;
} */

