.container{
    width: 100%;
}

.navbar{
    background-color: rgba(3, 145, 3, 0.877); 
    height: 47px;
    box-sizing: border-box;
}

.nav-link{
    color: whitesmoke;    
}

.active{
    background-color: #0d6607;
    height: 100%;
}

.nav-item a:hover {
    background-color: rgba(129, 190, 104, 0.664);
    color: white;
    height: 100%;  
}

.nav-item{
    padding-top: 1px;
}

ul.navbar-nav li {
    display: inline;
    font-size: 20px;
}

#logo{
    padding-left: 70px;
}

#title{
    text-align: center;
    align-content: center;
    padding-top: 50px;
}

#logout{
    text-align: center;
    align-content: center;
    padding-top: 45px;
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content{
    padding-top : 60px;
}

.separator_navbar{
    font-size: 110%;
    padding-top: 80%;
}

footer{
    background-color: rgba(3, 145, 3, 0.877);
    margin-bottom: 20px;  
    color: whitesmoke;
    margin-top: 100px;
}
