


body 
{
  margin: auto;
}

[class*="col-"]
{
  border-radius: 6px;
}


#btn_ident
{
  margin-top : 1px;
  height: 1px;
}


#title
{
  font-family: serif;
  font-size: 40px; 
  text-align: center;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }
.border-top-gray { border-top-color: #adb5bd; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.lh-condensed { line-height: 1.25; }


#listing:hover{
  background-color: rgba(121, 126, 122, 0.541);
}

:checked + label{
  background-color: rgba(70, 131, 180, 0.671);
  
}

.radio{
  display: none;
}